  #html-body{
	border:20px solid rgb(12, 189, 209);
	width:461px;
	padding:15px;
	height:605px;
	overflow:auto;
	margin:auto;
	border-top:20px solid green;
	border-bottom:20px solid blue;
	overflow:auto;
	}
h1{
   color:blue;
background-color:orange;
  }
            
      h2 {
       color: yellow;
	background-color: purple;
	font-family:"Helvetica";
        }  
        
        body {
            background-color: black;
        }
		#song-lyrics {
			background-color:rgb(115, 3, 3);
			font-family:"monospace";
			font-size:13.5px;
			font-style:italic;
			text-align:center;
			color:rgb(26, 255, 0);
			}
		a:link {
            color: green;
            background-color: transparent;
            text-decoration-line: underline;
  			text-decoration-style: wavy;
        }

        a:visited {
            color: pink;
            background-color: transparent;
            text-decoration-line: underline;
  			text-decoration-style: wavy;
        }

        a:hover {
            color: red;
            background-color: transparent;
            text-decoration-line: underline;
  			text-decoration-style: double;
        }

        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration-line: underline;
  			text-decoration-style: wavy;
        }
		ul {
			color:rgb(65, 224, 216);
			}
		ol {
			color:rgb(65, 224, 216);
			}
		p  {
			color:rgb(65, 224, 216);
			font-family:sans-serif;
			}
		#pictures{
			background-color:rgb(130, 126, 126);
			width:180px;
			height:200px;
			overflow:auto;
			margin-left:5px;
			}
			/* width */
		::-webkit-scrollbar {
 			 width: 5px;
			}

			/* Track */
		::-webkit-scrollbar-track {
  			box-shadow: inset 0 0 5px grey; 
  			border-radius: 10px;
			}
 
			/* Handle */
		::-webkit-scrollbar-thumb {
			background:#51c951; 
			border-radius: 10px;
			}

			/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
  			background: #b30000; 
			}
